<h3>Login </h3>
<form action="" id="login-form">
    <input type="text" placeholder="email" id="login-email">
    <input type="password" id="login-password">
    <button>Login!</button>
</form>

<h3>Sign Up </h3>
<form action="" id="signup-form">
    <input type="text" placeholder="username" id="signup-username">
    <input type="text" placeholder="email" id="signup-email">
    <input type="password" id="signup-password">
    <button>Sign Up!</button>
</form>


<script src="./js/login.js"></script>